{% extends 'base.html' %}
{% block content %}

<h2 class="text-center">ENTREGUES</h2>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Bloco</th>
      <th>Andar</th>
      <th>Apto</th>
      <th>Porteiro</th>
      <th>Data de Entrega</th>
    </tr>
  </thead>
  <tbody>
    {% for entrega in entregues %}
    <tr>
      <td>{{ entrega.nome }}</td>
      <td class="text-center">{{ entrega.bloco }}</td>
      <td class="text-center">{{ entrega.andar }}</td>
      <td class="text-center">{{ entrega.apartamento }}</td>
      <td class="text-center">{{ entrega.porteiro.nome }}</td>
      <td class="text-center">{{ entrega.data_entrega }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

