{% extends 'base.html' %}

{% block content %}

<h2 class="text-center">Lista de Moradores</h2>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Bloco</th>
      <th>Andar</th>
      <th>Apto</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {% for morador in moradores %}
    <tr>
      <td>{{ morador.nome }}</td>
      <td class="text-center">{{ morador.bloco }}</td>
      <td class="text-center">{{ morador.andar }}</td>
      <td class="text-center">{{ morador.apartamento }}</td>
      <td class="text-center">{{ morador.email }}</td>

    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
